#main {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr;
	font-family: Arial, Helvetica, sans-serif;
}

#LHS {
	display: flex;
	flex-direction: column;
}

#middle {
	display: flex;
	flex-direction: column;
}

#middle .topic h3 {
	text-align: center;
}

#middle .topic {
	border: 1px solid white;
	background-color: #ddd;
	border-radius: 0.5rem;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
	padding: 0.25rem;
	margin: 0.5rem;
}

#middle .post {
	border: 1px solid white;
	background-color: #eee;
	padding: 0.25rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: space-between;
}

#LHS {
	border: 1px solid white;
	background-color: #ddd;
	border-radius: 0.5rem;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
	padding: 0.5rem;
	margin: 0.5rem;
	height: fit-content;
}

button {
	background-color:#fa8100;
	border: 1px solid white;
	margin: 0.25rem;
	padding: 0.5rem;
	color: white;
	font-weight: bold;
	border-radius: 0.25rem;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
button:hover {
	cursor: pointer;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	background-color:#ff9e22;
}

.individualpost li{
	display: flex;
	justify-content: space-between;

	border: 1px solid white;
	background-color: #eee;
	border-radius: 0.5rem;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
	padding: 0.25rem;
	margin: 0.5rem;
}
.individualpost li span{
	border: 1px solid white;
	background-color: #ddd;
	border-radius: 0.5rem;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
	padding: 0.25rem;
	margin: 0.5rem;
}
.individualpost{
	border: 1px solid white;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
	border-radius: 0.25rem;
	background-color: #ddd;
	list-style-type: none;
	padding: 0.5rem;
	margin: 0.5rem;
	height: fit-content;
}